<html>
<head>
	<title>Lobby App</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'lobbies:index'  %}">Queue Me</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'lobbies:index' %}">Lobbie List</a>
				</li>
				{% if curr_player.currentLobby %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'lobbies:lobby' curr_player.currentLobby.id %}">Current Lobby</a>
				</li>
				{% endif %}
			</ul>
      <ul class="nav navbar-nav navbar-right">
				{% if curr_player %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<img src="{{ curr_player.avatar }}" style="width:25;height:25"%> {{ curr_player.nickname }}
							<span class="caret"></span>
					</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'lobbies:leave_lobby' %}">Leave Current Lobby</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'lobbies:logout_session' %}">Logout</a></li>
          </ul>
        </li>
				{% else  %}
				<a href="/login/steam?next={{ request.path }}">
					<img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_landing.png">
				</a>
				{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div>
	</div>
	<div>
	{% block content %}	
	{% endblock %}
	</div>
</body>
</html>
