{% extends 'lobbies/base.html' %}

{% block content %}
	<p>
	{% if curr_player %}
	Create lobby :
	<form action='{% url 'lobbies:create_lobby' %}' method='post'>
		{% csrf_token  %}
		<input type='text' name='title'>
		<input type='submit' value='Submit'>
	</form>
	{% else %}
	Please login to create a lobby.
	{% endif %}
	</p>
{% if lobbies %}
	<script>
	jQuery(document).ready(function($) {
		var rows = $(".clickable-row")
		rows.click(function() {
				window.document.location = $(this).data("url");
		});
		rows.css('cursor','pointer')
	});
	</script>
	<h3 class="text">Lobbies</h3>
	<table class="table table-hover">
		<thead>
		<tr>
			<th>id</th><th>Start Time</th><th>Title</th><th>Leader</th><th></th>
		</tr>
		</thead>
		<tbody>
    {% for lobby in lobbies %}
		<tr class="clickable-row" data-url="{% url 'lobbies:lobby' lobby.id %}">
			<td>{{ lobby.id }}</td>
			<td>{{ lobby.startTime }}</td>
			<td>{{ lobby.lobbyTitle }}</td>
			<td>{{ lobby.lobbyLeader.nickname }}</td>
			<td></td>
		</tr>
		</a>
    {% endfor %}
		</tbody>
	</table>
{% else %}
    <p>No lobbies available.</p>
{% endif %}
{% endblock %}
