{% extends 'lobbies/base.html' %}
{% block content %}
{% if lobby %}
  <script>
		var messageHandlers = {
			'players' : function(message){
				playerTable = $("#playersTable > tbody");
				playerTable.empty();
				for (let player of message["players"]){
					var row  = $("<tr></tr>");
					row.append($("<td></td>").append($("<img>").attr("src", player["avatar"])));
					row.append($("<td></td>").append(player["nickname"]));
					row.append($("<td></td>").append(player["rating"] + " / 5"));
					row.append($("<td></td>").append(player["rank"]));
					playerTable.append(row);
				}
			},
			'chat' : function(message){
				chatArea = $("#chatArea");
				console.log(chatArea.length)
				chatArea.append((chatArea.val().length ? "\n" : "") + message["user"] + " : " + message["text"]);
				if(chatArea.length){
					chatArea.scrollTop(chatArea[0].scrollHeight - chatArea.height());
				}
			},
			'notice' : function(message){
				window.alert(message['text']);
			}
		}

		var url = 'ws://'+window.location.host + '{% url 'lobbies:lobby' lobby.id  %}';
		var socket = null;
		function createSocket(url){
			socket = new WebSocket(url);
			socket.onopen = function open() {
				console.log('WebSockets connection created.');
			};
			if (socket.readyState == WebSocket.OPEN) {
				socket.onopen();
			}
			socket.onmessage = function (event){
				message = JSON.parse(event.data);
				if (message["type"] in messageHandlers){
					messageHandlers[message["type"]](message["payload"]);
				}
			}
			socket.onclose = function (event){
				if (!event.wasClean){
					createSocket(url);
				}
			}
		}
		createSocket(url);

		function sendChatMessage(){
			var inputBox = $('#messagebox');
			if (inputBox.val().length){
				var message = {
					type : "chat",
					payload : {
						text : $('#messagebox').val()
					}
				}
				socket.send(JSON.stringify(message));
				inputBox.val("");
			}
		}
		function joinLobby(lobbyId){
			var message = {
				type : "joinLobby",
				payload : {
					lobbyId : lobbyId
				}
			}
			socket.send(JSON.stringify(message))
		}
  </script>
	<ul>
	<h3>{{ lobby.lobbyTitle }}</h3>
	<button onclick="joinLobby({{ lobby.id }})">Join Lobby</button>
	<div style="display:flex">
		<div style="flex-grow:1">
			<table id="playersTable" class="table table-striped">
				<thead>
				<tr>
					<th></th>
					<th>Nickname</th>
					<th>Rating</th>
					<th>Rank</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div style="width:40%">
			<textarea id="chatArea" readonly=1 cols=30 rows=20 style="resize:none"></textarea>
			<input id="messagebox" size=29 onkeydown="if (event.keyCode == 13) { sendChatMessage(); return false; }" width="100%"><br>
		</div>

	</div>
	</ul>
{% else %}
	<p>No lobby with that id.</p>
{% endif %}
{% endblock %}
